body { color:black; background-color: black;}

body div.container { margin-left: 10%; margin-right:10%; width: auto;}

.list { position: relative; height: 350px; }

.zoomed {
    zoom: 130%;
}
.zoom-normal {zoom: 100%;}

.item-input { position: absolute; bottom: 10px;  }

.item-text {
    display: block;
    margin-top: -17px;
    margin-left:20px;
    margin-right: 40px;

    
}

li input.cb_item { /*margin-left:-12px;*/ margin-top: -1px; /*margin-right: 5px;*/}

.top-centered { margin-left: 20%; padding-bottom: 30px; padding-top: 5px;}

.list .list-header {
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.list-header-text { color: white; margin-left: 10px; margin-top: 25px; }

.header_to_well {
    height: 40px;
    padding-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}

.header-icons { margin-right: 5px; opacity: 0.4;}
.header-icons:hover {opacity: 1; zoom: 120%;}
.header-icons i { margin-left:5px; }

.item-icons { margin-right: 5px; opacity: 0.4; }
.item-icons:hover {opacity: 1; zoom: 120%; }
.item-icons i { margin-left: 5px; }

.delete-item:hover, .delete-list:hover, .move-list:hover, .move-item:hover, .update-item-li { cursor: pointer }

/*
.delete-list{opacity: 0.3; }

.delete-list:hover { zoom: 160%;opacity:1; cursor: pointer;}
.delete-item { zoom: 80%; opacity:0.3; margin-right:10px;}
.delete-item:hover { zoom: 130%;  opacity:1; cursor: pointer; margin-right:5px;}

*/

.done_item { text-decoration: line-through; }
.nano {width:111%; height: 80%;margin-left:-13px; margin-top: 10px;}
.nano .pane {width:5px; }

#import_modal textarea, #export_modal textarea { width: 450px; }

.settings { border: 1px solid white; height: 200px; margin-bottom: 15px; border-radius: 10px;}
.hide-settings { background-color: orange; border-top-left-radius: 8px; border-top-right-radius: 8px; color: black; font-weight: bold; text-align: center;}
.hide-settings:hover { cursor: pointer; }
.settings-content { padding: 20px; }
p button { width: 250px; }
.color-label, .label-color { display: inline-block; width: 25px; height: 25px; border-radius: 5px; margin-left: 5px; position: relative; }
.label-color .icon-ok { position: absolute; top: 12%; left: 17%; }
#add-color-label { margin-bottom: 10px; }
.each-label .updated-color-holder { display: none; }
.item-color-label {
    width: 30px;
    height: 3px;
    display: inline-block;
    margin-right: 5px;
}
.item-labels-box { margin-left: 20px; margin-bottom: -7px; }
.label-name.input-small {
    margin-top: -12px;
    margin-left: 5px;
}
span.label-name { position: relative; top: -8px; margin-left: 10px; font-weight: bold; }
.submit-updated-color { margin-top: -23px; margin-left: 5px; }
#simple-settings { color: whitesmoke; margin-top: 10px; }
.small-gap { display: inline-block; min-width: 20px; position: relative; top: -8px; }
